@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--bg-color: #dddddd;
	--bg-color-variant: white;
}

* {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: var(--bg-color);
	color: black;
	padding: 0 15px;
}

.header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 15px 0;

	& #city_input {
		background-color: var(--bg-color-variant);
		border: none;
		padding: 7px 10px;
		border-radius: 10px;
		cursor: pointer;
	}

	& #searchBtn {
		border: none;
		padding: 6px 10px;
		border-radius: 15px;
		background-color: var(--bg-color-variant);
		cursor: pointer;
	}

	& #locationBtn {
		border: none;
		padding: 6px 10px;
		border-radius: 15px;
		background-color: var(--bg-color-variant);
		cursor: pointer;
	}
}

.card {
	background-color: var(--bg-color-variant);
	padding: 15px;
	border-radius: 15px;
	margin-bottom: 15px;
	& p {
	}
	& h2 {
	}
}

.weather-data {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	& .weather-left {
		grid-column: span 1;
		& .current-weather {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
